
<!-- templates/mi_template.html -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
    <title>Clientes</title>
</head>
<body class="app" style="margin: 0;">
    {% include 'cabecera.html' %}

    <table>
        <caption>{{nombre}} {{apellido}}</caption>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Cuil</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
        </tr>

            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{dni}}</td>
                <td>{{cuil}}</td>
                <td>{{direccion}}</td>
                <td>{{telefono}}</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{dni}}</td>
                <td>{{cuil}}</td>
                <td>{{direccion}}</td>
                <td>{{telefono}}</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{dni}}</td>
                <td>{{cuil}}</td>
                <td>{{direccion}}</td>
                <td>{{telefono}}</td>
                <td>{{email}}</td>
            </tr>
    </table>
    

</body>
</html>