/* static/mi_aplicacion/styles.css */
body{
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    
}

.cabecera{
    width: 100vw;
    height: 20vh;
    background-color: antiquewhite;
    margin: 0;
    
    display: flex;
    flex-direction: row;
    
}

table{
    display: flex;
    flex-direction: column;
    align-content: baseline;
    
    margin: 20px;
    caption{
        margin: 20px;
        text-align: left;
        color: teal;
        font-size: 30px;
    }
    td{
        
        font-size: 15px;
    }
    tr:nth-child(odd){                      /*Color filas impares*/
        background-color: antiquewhite;
        color: teal;
    }
    tr:nth-child(even){                     /*Color filas pares*/
        background-color: teal;
        color: antiquewhite;
    }
}


.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #c0392b;
}
